* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-size: 40px;
}

header {
    border: 3px solid red;
    width: 100%;
    height: 10vh;
    min-height: 50px;
}

main {
    display: flex;
    height: 75vh;
    width: 100%;
}

aside {
    border: 3px solid orange;
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

aside li {
    padding: 3px 0;
}

section {
    border: 3px solid darkviolet;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

footer {
    border: 3px solid green;
    width: 100%;
    height: 15vh;
    min-height: 100px;
}
